<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home - Form Submission</title>
    </head>
    <body>
        <h1>Form</h1>
        <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
            <p>Enter your name: <input type="text" th:field="*{name}" /></p>
            <p>Enter your message: <input type="text" th:field="*{message}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>